body {
	/*background: #FFFFFF;*/
	background-image: url("wood-bright.webp");
	/*background: brown;*/
	background-size: cover;
	margin: 0px;
	font-family: arial, sans-serif;
	font-size:large;
  	height: 100%
}

button,
input,
select {
	font-size:large;
}

#description {
  margin-left: 3em;
  margin-right: 3em;
  margin-top: 1em;
  margin-bottom: 1em;
  font-size:small;
}

#setup-scrollable {
  overflow-y: scroll;
  height: calc(100vh - 7em);
}

button, input {
	background-color: #c8e6c9; /* Blue background */
	border: none; /* Remove borders */
	/*padding: 0.6em 0.8em; /* Some padding */
	cursor: pointer; /* Mouse pointer on hover */
}

select {
	background-color: #c8e6c9; /* Blue background */
	border: none; /* Remove borders */
	cursor: pointer; /* Mouse pointer on hover */
}

button:hover, input:hover, select:hover {
	background-color: #81c784;
}


td {
	border: 1px solid black;
	text-align: center;
}

#mytitle {
	font-size: xx-large;
	text-align: center;
	margin-bottom: 1em;
}

#setup {
	display: none;
	margin-top: 1em;
}

#moneybar {
	float: right;
	border: 0px solid black;
	/*background-color: white;*/
	margin: 15px;
	border-radius: 5px;
	display: none;
	z-index: 14;
	position: relative;
	cursor: default;
	-webkit-user-select: none;
	user-select: none;
}

#moneybar table {
	font-weight: bold;
	border-spacing: 1px;
}

#moneybarwrap {
	position: absolute;
	max-width: 25vw;
	top: 0;
	right: 0;
	user-select: none;
	height: 97%;
	overflow-y: auto;
}

#propertystats {
	margin-right: 110px;
}

#refresh {
	display: none;
	margin: 15px;
}

#noscript {
	margin-left: 10px;
}

#board {
	position: absolute;
	left: 4em;
	display: none;
	border: 2px solid black;
	border-spacing: 3px;
	margin: 1.2em;
	background-color: white;
	max-height: 97%;
}

#control {
	position: absolute;
	z-index: 9;
	top: 20vh;
	left: 17vw;
	margin-top: 1.2em;
	margin-left: 5.2em;
	padding: 0.5em;
	display: none;
}

#quickstats {
	display: none;
	font-weight: bold;
	border: 2px solid blue;
	margin: 5px;
	padding: 3px;
	width: 80px;
}

#landed {
	padding: 3px;
	border: 1px solid gray;
	border-top: none;
	width: 27.6vw;
	margin: 0px;
	text-align: center;
	font-size: small;
}

#alert {
	width: 28vw;
	height: 20vh;
	margin: 0;
	padding-left: 1px;
	border: 1px solid gray;
	background-color: transparent;
	overflow-y: scroll;
	font-size: small;
}

#manage {
	width: 28vw;
	border: 1px solid gray;
	display: none;
}

#manage input {
	font-size: medium;
}

#audio {
	width: 308px;
	height: 120px;
	border: 1px solid gray;
	display: none;
	overflow-y: auto;
}

#option {
	border-bottom: 1px solid gray;
	background-color: transparent;
	display: none;
	background: white;
	vertical-align: middle;
	padding: 3px;
	text-align: center;
	min-height: 26px;
}

#buildings {
	margin: auto;
	height: 21px;
	font-weight: bold;
}

#buildings .house {
	width: 25px;
	height: 19px;
	vertical-align: top;
	float: none;
}

#owned {
	padding: 3px 0px;
	background-color: transparent;
	text-align: center;
	max-height: 15vh;
	overflow-y: auto;
}

#owned .propertycellname {
	vertical-align: top;
}

#property {
	margin-right: 1px;
	background: white;
}

#trade {
	position: absolute;
	left: 10vw;
	border: 2px solid black;
	display: none;
	width: 630px;
	margin: 1em auto;
	background-color: white;
	border-radius: 8px;
	padding: 2px;
	z-index: 14;
	top: 0;
}

#trade-leftp-name {
	font-weight: bold;
}

#trade-leftp-name option {
	font-weight: normal;
}

#trade-rightp-name {
	font-weight: bold;
}

#trade-rightp-name option {
	font-weight: normal;
}
/*
#trade-leftp-money {
	width: 90%;
}

#trade-rightp-money {
	width: 90%;
}*/

/* begin*/
#credit {
	border: 2px solid black;
	position: absolute;
	left: 33%;
	display: none;
	width: 315px;
	margin: 15px auto;
	background-color: white;
	border-radius: 8px;
	padding: 2px;
	z-index: 14;
	top: 0;
}

#credit-leftp-name {
	font-weight: bold;
}

#credit-leftp-name option {
	font-weight: normal;
}

#credit-leftp-money {
	width: 90%;
}/*end*/

#deedcolor {
	background: white;
	width: 100%;
	height: 48px;
}

#deedname {
	margin-top: 10px;
	font-weight: bold;
	font-size: 20px;
	background-color: white;
}
#popup {
	width: 300px;
	min-width: 300px;
	padding: 10px;
	text-align: center;
	word-wrap: break-word;
	line-height: 1.5;
	border: 2px solid black;
	border-radius: 10px;
	background-color: white;
	display: block;
	z-index: 13;
	margin: auto;
	-webkit-user-select: none;
	user-select: none;
}

#popupwrap {
	position: absolute;
	top: 30vh;
	width: 100%;
	display: none;
	background-color: transparent;
	z-index: 13;
	-webkit-user-select: none;
	user-select: none;
}

#popuptext {
	overflow-x: auto;
}

#popupclose input {
	margin: 0px;
	background-color: red;
	height: 18px;
	width: 18px;
	padding: 0px;
}

#popupbackground {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	background-color: #000000;
	opacity: 0.5;
	display: none;
	z-index: 10;
}

#popupdrag {
	width: 100%;
	height: 16px;
	position: absolute;
	top: -16px;
	cursor: move;
}

#mgraph,
#stats {
	max-width: 914px;
	min-width: 454px;
	padding: 10px;
	text-align: center;
	word-wrap: break-word;
	line-height: 1.5;
	border: 2px solid black;
	border-radius: 10px;
	background-color: white;
	display: block;
	z-index: 17;
	margin: auto;
	position: relative;
	-webkit-user-select: none;
	user-select: none;
	transform: translate(0, -50%);
}

#graphwrap,
#statswrap {
	position: absolute;
	width: 100%;
	display: none;
	background-color: transparent;
	-webkit-user-select: none;
	user-select: none;
	top: 50%;
}

#statstext,
#graphtext {
	overflow: hidden;
	min-height: 70px;
}

#graphclose,
#statsclose {
	display: block;
	position: absolute;
	top: -24px;
	right: -25px;
	width: 30px;
	height: 30px;
	border: none;
	cursor: pointer;
	overflow: visible;
	z-index: 17;
}

#statsbackground {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	background-color: #000000;
	opacity: .5;
	display: none;
	z-index: 16;
}

#statsdrag,
#graphdrag {
	width: 100%;
	height: 16px;
	position: absolute;
	top: -16px;
	cursor: move;
}

#deed {
	display: none;
	position: fixed;
	border: 2px solid black;
	width: 235px;
	height: 400px;
	background-color: white;
	z-index: 18;
	-webkit-user-select: none;
	user-select: none;
}

#deed td{
	border: none;
}

#deed-header {
	width: 215px;
	height: 48px;
	border: 1px solid black;
	margin: 9px;
	background-color: yellow;
	text-align: center;
	text-transform: uppercase;
}

#deed-name {
	font-weight: bold;

}

#deed-table {
	margin: 9px;
	width: 217px;
	border-spacing: 10px;
}

#deed-mortgaged {
	text-align: center;

}

#deed-mortgaged-name {
	font-weight: bold;
	text-transform: uppercase;
	margin: 30px 20px 20px;
}

#deed-special {
	text-align: justify;
}

#deed-special-name {
	text-align: center;
	font-weight: bold;
	border-style: solid;
	border-width: 2px 0px;
	text-transform: uppercase;
	margin: 50px 20px 20px;
}

#deed-special-text {
	margin: 20px;
}

#deed-special-footer {
	margin: 0px 20px;
	width: 195px;
	position: absolute;
	bottom: 20px;
}

#enlarge-wrap {
	border: none;
	z-index: 0;
}

.die {
	display: none;
	margin: 5px;
	float: left;
	font-size: 3em;
	font-size: xxx-large;
}

.die-no-img {
	border-radius: 6px;
	font-weight: bold;
	border: 2px solid black;
	padding: 5px 10px;
}
.house {
	width: 25px;
	height: 19px;
	vertical-align: middle;
	float: right;
}

.player-credit {
	color: red;
}

/*begin: TODO*/
.cell {
	position: relative;
	top: 0;
	left: 0;
	padding: 0;
	/*vertical-align: bottom;
	background-repeat: no-repeat;
	background-size: auto 40px;*/
	width: 8em;
	height: 5em;
	background-color: rgb(218, 218, 218);
	border: 2px solid black;
	text-align: center;
}

.cell-color {
	background: white;
	width: 100%;
	height: 40px;
}

#cell0, #cell6 {
	background-color: yellow;
}

#cell6price {
	font-size: smaller;
	margin-top: -30px;
}

#cell3, #cell9 {
	background-image: url('images/ereignisfeld.png');
	background-size: 100% 100%;
}

.cell-price {
	position: absolute;
	/*background-color: white;*/
	top: 64px;
	text-align: center;
	width: 100%;
	/*left: 0px;
	text-align: center;
	vertical-align: top;
	height: 25px;*/
}


.board-center {
	width: 320px;
	border: none;
	vertical-align: bottom;
	background-repeat: no-repeat;
	background-size: auto 40px;
}

.board-corner,
.board-top,
.board-bottom,
.board-left,
.board-right {
	height: 20vh;
	width: 17vw;
}


.enlarge {
	width: 150px;
	height: 200px;
	display: none;
	background-color: white;
	border: 2px solid black;
	text-align: center;
	position: fixed;
	z-index: 15;
}

.enlarge-color {
	background: white;
	width: 100%;
	height: 40px;
}

.enlarge-name {
	font-weight: bold;
	font-size: 20px;
	background-color: white;
	height: 45px;
}

.enlarge-price {
	background-color: white;
	vertical-align: bottom;
	height: 25px;
}

.enlarge-token {
	height: 45px;
	width: 150px;
}

.moneybarcell {
	width: 183px;
	min-width: 83px;
	background-color: white;
	border: 2px solid black;
}

#graph {
	width: 40%;
	position: relative;
	left: 30%;
}

.moneybararrowcell {
	/*background: white;*/
	width: 30px;
	border: none;
	text-align: right;
	padding: 0px;
}

.money-bar-arrow {
	height: 30px;
	width: 30px;
	font-size: xx-large;
}
.propertycellcheckbox {
	width: 20px;
	height: 20px;
	border: none;
	vertical-align: middle;
}

.propertycellcolor {
	padding: 0px;
	width: 20px;
	height: 20px;
	border-width: 1px;
	border-style: solid;
	border-color: white;
}

.asset {
	width: 25px;
	height: 19px;
	float: none;
}

.propertycellname {
	height: 20px;
	width: 250px;
	border: none;
	cursor: default;
	text-align: left;
	vertical-align: middle;
}

.propertycelldeed {
	width: 18px;
	height: 20px;
	border: 1px solid grey;
	cursor: pointer;
	display: none;
}

.statscellcolor {
	padding: 0px;
	width: 22px;
	height: 20px;
	border: none;
}

.statscellname {
	height: 20px;
	border: none;
	cursor: default;
	text-align: left;
	min-width: 172px;
}

.statsplayername {
	font-weight: bold;
	font-size: 24px;
}

.statscell {
	border: 2px solid black;
	padding: 8px;
	vertical-align: top;
	width: 202px;
	min-width: 115px;
}

.trade-cell {
	border: none;
	border-radius: 3px;
	width: 308px;
	height: 26px;
	vertical-align: middle;
}

.credit-cell {
	border: none;
	border-radius: 3px;
	width: 308px;
	height: 26px;
	vertical-align: middle;
}

.cell-anchor {
	width: 100%;
	height: 100%;
	position: relative;
	bottom: 0px;
	left: 0px;
}

.cell-name {
	position: absolute;
	top: 0px;
	left: 0px;
	text-align: center;
	width: 100%;
	vertical-align: top;
	font-weight: bold;
	font-size: 20px;
	height: 45px;
}

.cell-position-holder {
	width: 100%;
	height: 100%;
	z-index: 1;
	position: relative;
}

.cell-position {
	height: 18px;
	width: 18px;
	position: absolute;
	top: 0px;
	left: 0px;
	border-style: solid;
	border-radius: 50%;
	display: inline-block;
}

.cell-owner {
	background-size: cover;
	display: none;
	position: absolute;
}

.cell-house,
.cell-house2 {
	background-size: cover;
	display: none;
	position: absolute;
	height: 1em;
	width: 1em;
	left: 0;
}

.cell-house:before,
.cell-house2:before{
	font-family: "FontAwesome";
	content: "\f015";
}
.cell-house {
	top: 0;
}
.cell-house2 {
	top: 1em;
}

.board-top .cell-owner {
	background-image: url("images/hori-bar.png");

	height: 15px;
	left: 0px;



	top: -25px;
	width: 72px;

}

.board-bottom .cell-owner {
	background-image: url("images/hori-bar.png");
	bottom: -25px;

	height: 15px;




	left: 0px;
	width: 72px;
}

.board-left .cell-owner {
	background-image: url("images/vert-bar.png");

	height: 68px;
	left: -25px;



	top: 0px;
	width: 15px;

}

.board-right .cell-owner {
	background-image: url("images/vert-bar.png");

	height: 68px;
	right: -25px;



	top: 0px;
	width: 15px;

}

#credits {
	width: 100%;
	position: absolute;
	bottom: 0;
}

#cell6price {
	margin-top: -4em;
	font-size: x-small;
}

#cell0price {
	margin-top: -3em;
	font-size: small;
}

@media screen and (min-height: 600px) {

	#landed,
	#alert {
		font-size: medium;
	}

	#cell6price {
		font-size: x-small;
		margin-top: 0;
	}
	
	#cell0price {
		font-size: small;
		margin-top: 0;
	}

	#manage input {
		font-size: large
	}

	button, input {
		padding: 0.6em 0.8em; /* Some padding */
	}

	#description {
		font-size: medium;
	}
}

@media screen and (min-height: 770px) {

	#landed,
	#alert,
	#cell0price {
		font-size: large;
	}

	#cell6price {
		font-size: small;
	}

	#description {
		font-size:large;
	}
}

@media screen and (max-height: 450px) {
	
	.board-center {
		width: 240px;
	}
	
	input {
		font-size: small;
	}

	#control {
		padding: 2px;
	}

	#landed {
		width:175px;
	}
	
	#alert {
		height: 48px;
		width: 180px;
	}

	#cell6price {
		margin-top: -28px;
		font-size: 8px;
	}
	
	#cell0price {
		margin-top: -22px;
		font-size: x-small;
	}

	#owned {
		max-height: 32px;
		font-size: small;
	}
	
	#manage {
		width: 194px;
	}

	#manage input {
		font-size: x-small;
	}
	
	#moneybarwrap {
		max-width: 220px;
		font-size: small;
	}
	
	#stats {
		font-size: small;
		max-width: 700px;
	}
	
	.statsplayername {
		font-size: medium;
	}
	
	.statscellname {
		min-width: 120px;
	}
	
	.cell-name {
		font-size: small;
	}
	
	.cell-color {
		height: 20px;
	}
	
	.cell-position {
		width: 10px;
		height: 10px;
	}
	
	.cell-price {
		top: 40px;
		font-size: small;
	}
}

#setup ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
  }
  
#setup li {
	float: left;
  }
  
#setup li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
  }
  
#setup li a:hover {
	background-color: #111;
  }

#setup table {
	border-collapse: collapse;
	border-style: hidden;
	margin: 0 auto;
	}

#setup table td {
	border: none;
	padding: 0.5em 0;
}

#icon-bar {
	width: 4em;
	background-color: #555;
	display: none;
}

#icon-bar a {
	display: block;
	text-align: center;
	padding: 0.5em;
	transition: all 0.3s ease;
	color: white;
	font-size: xx-large;
}

#icon-bar a:hover {
	background-color: #000;
}

.active {
	background-color: #04AA6D;
}

.moneyopt {
	display: none;
}

@media (prefers-color-scheme: dark) {
	body {
		background-image: url("wood-dark.webp");
		background-color: black;
		color: white;
	}

	button, input, select {
		background-color: #1b5e20; /* Blue background */
		color: white; /* White text */
	}

	button:hover, input:hover, select:hover {
		background-color: #388e3c;
	}

	#board {
		border-color: white;
		background-color: #111;
	}

	.cell {
		background-color: #333;
	}

	.cell-house {
		color: black;
	}

	#mgraph,
	#stats,
	#popup,
	#trade, 
	#credit,
	.moneybarcell {
		background-color: black;
		border-color: white;
	}

	#option {
		background-color: transparent;
	}

	.cell-name, 
	#cell0price,
	#cell6price {
		color: black;
	}

	#deed {
		color: black;
	}
}

#donate {text-align: center;}

#donate input {
	background-color: transparent;
}

@keyframes changeOpacity {
	from {opacity: 0;}
	to {opacity: 1;}
  }