#board {
  position: absolute;
  left: 4em;
  border: 2px solid black;
  border-spacing: 3px;
  margin: 1.2em;
  background-color: white;
  max-height: 97%;
  height: 80vh;
  width: 70vw;
}

.cell {
  position: relative;
  top: 0;
  left: 0;
  padding: 0;
  width: 8em;
  height: 5em;
  background-color: rgb(218, 218, 218);
  border: 2px solid black;
  text-align: center;
}

.cell-color {
  background: white;
  width: 100%;
  height: 40px;
}

#cell0, #cell6 {
  background-color: yellow;
}

#cell6price {
  font-size: smaller;
  margin-top: -30px;
}

#cell3, #cell9 {
  background-image: url("../assets/images/ereignisfeld.png");
  background-size: 100% 100%;
}

.cell-price {
  position: absolute;
  top: 64px;
  text-align: center;
  width: 100%;
}

.board-center {
  width: 320px;
  border: none;
  vertical-align: bottom;
  background-repeat: no-repeat;
  background-size: auto 40px;
}

.board-corner,
.board-top,
.board-bottom,
.board-left,
.board-right {
  height: 20vh;
  width: 17vw;
}

.enlarge {
  width: 150px;
  height: 200px;
  display: none;
  background-color: white;
  border: 2px solid black;
  text-align: center;
  position: fixed;
  z-index: 15;
}

#enlarge-wrap {
  border: none;
  z-index: 0;
}

.cell-anchor {
  width: 100%;
  height: 100%;
  position: relative;
  bottom: 0px;
  left: 0px;
}

.cell-name {
  position: absolute;
  top: 0px;
  left: 0px;
  text-align: center;
  width: 100%;
  vertical-align: top;
  font-weight: bold;
  font-size: 20px;
  height: 45px;
}

.cell-position-holder {
  width: 100%;
  height: 100%;
  z-index: 1;
  position: relative;
}

.cell-position {
  height: 18px;
  width: 18px;
  position: absolute;
  top: 0px;
  left: 0px;
  border-style: solid;
  border-radius: 50%;
  display: inline-block;
}

.cell-owner {
  background-size: cover;
  display: none;
  position: absolute;
}

.cell-house,
.cell-house2 {
  background-size: cover;
  position: absolute;
  height: 1em;
  width: 1em;
  left: 0;
}

.cell-house {
  top: 0;
}

.cell-house2 {
  top: 1em;
}

.board-bottom .cell-owner, .board-top .cell-owner {
  background-image: url("../assets/images/hori-bar.png");
  height: 15px;
  left: 0px;
  width: 72px;
}

.board-top .cell-owner {
  top: -25px;
}

.board-bottom .cell-owner {
  bottom: -25px;
}

.board-left .cell-owner,
.board-right .cell-owner {
  background-image: url("../assets/images/vert-bar.png");
  height: 68px;
  top: 0px;
  width: 15px;
}

.board-left .cell-owner {
  left: -25px;
}

.board-right .cell-owner {
  right: -25px;
}

#cell6price {
  margin-top: -4em;
  font-size: x-small;
}

#cell0price {
  margin-top: -3em;
  font-size: small;
}

@media screen and (min-height: 600px) {
  #cell6price {
    font-size: x-small;
    margin-top: 0;
  }
  #cell0price {
    font-size: small;
    margin-top: 0;
  }
}
@media screen and (min-height: 770px) {
  #cell0price {
    font-size: large;
  }
  #cell6price {
    font-size: small;
  }
}
@media screen and (max-height: 450px) {
  .board-center {
    width: 240px;
  }
  #cell6price {
    margin-top: -28px;
    font-size: 8px;
  }
  #cell0price {
    margin-top: -22px;
    font-size: x-small;
  }
  .cell-name {
    font-size: small;
  }
  .cell-color {
    height: 20px;
  }
  .cell-position {
    width: 10px;
    height: 10px;
  }
  .cell-price {
    top: 40px;
    font-size: small;
  }
}
@media (prefers-color-scheme: dark) {
  #board {
    border-color: white;
    background-color: #111;
  }
  .cell {
    background-color: #333;
  }
  .cell-house {
    color: black;
  }
  .cell-name,
  #cell0price,
  #cell6price {
    color: black;
  }
}

/*# sourceMappingURL=Board.css.map */
