body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body {
  /*background: #FFFFFF;*/
  background-image: url("../assets/images/wood-bright.webp");
  /*background: brown;*/
  background-size: cover;
  margin: 0px;
  font-family: arial, sans-serif;
  font-size:large;
  height: 100%
}

button,
input,
select {
  font-size:large;
}

button, input {
  background-color: #c8e6c9; /* Blue background */
  border: none; /* Remove borders */
  /*padding: 0.6em 0.8em; /* Some padding */
  cursor: pointer; /* Mouse pointer on hover */
}

select {
  background-color: #c8e6c9; /* Blue background */
  border: none; /* Remove borders */
  cursor: pointer; /* Mouse pointer on hover */
}

button:hover, input:hover, select:hover {
  background-color: #81c784;
}

button {
	margin: 5px;
}

td {
  border: 1px solid black;
  text-align: center;
}

h1 {
  font-size: xx-large;
  text-align: center;
  margin-bottom: 1em;
}

@media screen and (min-height: 600px) {

  button, input {
    padding: 0.6em 0.8em; /* Some padding */
  }
}

@media screen and (max-height: 450px) {
  input {
    font-size: small;
  }
}

@media (prefers-color-scheme: dark) {
  body {
    background-image: url("../assets/images/wood-dark.webp");
    background-color: black;
    color: white;
  }

  button, input, select {
    background-color: #1b5e20; /* Blue background */
    color: white; /* White text */
  }

  button:hover, input:hover, select:hover {
    background-color: #388e3c;
  }
}

#property {
	margin-right: 1px;
	background: white;
}

#propertystats {
	margin-right: 110px;
}

#refresh {
	display: none;
	margin: 15px;
}

::backdrop {
	background: black;
	opacity: 0.75;
}

.house {
	width: 25px;
	height: 19px;
	vertical-align: middle;
	float: right;
}

.asset {
	width: 25px;
	height: 19px;
	float: none;
}

.active {
	background-color: #04AA6D;
}

@keyframes changeOpacity {
	from {opacity: 0;}
	to {opacity: 1;}
  }

.popup {
	max-width: 914px;
	min-width: 454px;
	padding: 10px;
	text-align: center;
	word-wrap: break-word;
	line-height: 1.5;
	border: 2px solid black;
	border-radius: 10px;
	background-color: white;
	display: block;
	z-index: 17;
	margin: auto;
	position: relative;
	-webkit-user-select: none;
	user-select: none;
}

dialog {
	position: absolute;
	width: 100%;
	background-color: transparent;
	-webkit-user-select: none;
	user-select: none;
	z-index: 13;
	border: none;
}

@media (prefers-color-scheme: dark) {

	.popup {
		background-color: black;
		border-color: white;
	}

    .popuptext {
        color: white;
    }
}

.player-name {
	font-weight: bold;
}

.cell {
	border: none;
	border-radius: 3px;
	width: 308px;
	height: 26px;
	vertical-align: middle;
}