body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body {
  /*background: #FFFFFF;*/
  background-image: url("wood-bright.webp");
  /*background: brown;*/
  background-size: cover;
  margin: 0px;
  font-family: arial, sans-serif;
  font-size:large;
  height: 100%
}

button,
input,
select {
  font-size:large;
}

#description {
  margin-left: 3em;
  margin-right: 3em;
  margin-top: 1em;
  margin-bottom: 1em;
  font-size:small;
}

#setup-scrollable {
  overflow-y: scroll;
  height: calc(100vh - 7em);
}

button, input {
  background-color: #c8e6c9; /* Blue background */
  border: none; /* Remove borders */
  /*padding: 0.6em 0.8em; /* Some padding */
  cursor: pointer; /* Mouse pointer on hover */
}

select {
  background-color: #c8e6c9; /* Blue background */
  border: none; /* Remove borders */
  cursor: pointer; /* Mouse pointer on hover */
}

button:hover, input:hover, select:hover {
  background-color: #81c784;
}

td {
  border: 1px solid black;
  text-align: center;
}

#mytitle {
  font-size: xx-large;
  text-align: center;
  margin-bottom: 1em;
}

#setup {
  display: block;
  margin-top: 1em;
}

#credits {
  width: 100%;
  position: absolute;
  bottom: 0;
}

@media screen and (min-height: 600px) {

  button, input {
    padding: 0.6em 0.8em; /* Some padding */
  }

  #description {
    font-size: medium;
  }
}

@media screen and (min-height: 770px) {
  #description {
    font-size:large;
  }
}

@media screen and (max-height: 450px) {
  input {
    font-size: small;
  }
}

#setup ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

#setup li {
  float: left;
}

#setup li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

#setup li a:hover {
  background-color: #111;
}

#setup table {
  border-collapse: collapse;
  border-style: hidden;
  margin: 0 auto;
}

#setup table td {
  border: none;
  padding: 0.5em 0;
}

@media (prefers-color-scheme: dark) {
  body {
    background-image: url("wood-dark.webp");
    background-color: black;
    color: white;
  }

  button, input, select {
    background-color: #1b5e20; /* Blue background */
    color: white; /* White text */
  }

  button:hover, input:hover, select:hover {
    background-color: #388e3c;
  }
}

#property {
	margin-right: 1px;
	background: white;
}

#propertystats {
	margin-right: 110px;
}

#refresh {
	display: none;
	margin: 15px;
}

#trade {
	position: absolute;
	left: 10vw;
	border: 2px solid black;
	width: 630px;
	margin: 1em auto;
	background-color: white;
	border-radius: 8px;
	padding: 2px;
	z-index: 14;
	top: 0;
}

#trade-leftp-name {
	font-weight: bold;
}

#trade-rightp-name {
	font-weight: bold;
}

#trade-rightp-name option {
	font-weight: normal;
}
#credit {
	border: 2px solid black;
	position: absolute;
	left: 33%;
	width: 315px;
	margin: 15px auto;
	background-color: white;
	border-radius: 8px;
	padding: 2px;
	z-index: 14;
	top: 0;
}

#credit-leftp-name {
	font-weight: bold;
}


#credit-leftp-money {
	width: 90%;
}

#deedcolor {
	background: white;
	width: 100%;
	height: 48px;
}

#deedname {
	margin-top: 10px;
	font-weight: bold;
	font-size: 20px;
	background-color: white;
}


#mgraph,
#stats {
	max-width: 914px;
	min-width: 454px;
	padding: 10px;
	text-align: center;
	word-wrap: break-word;
	line-height: 1.5;
	border: 2px solid black;
	border-radius: 10px;
	background-color: white;
	display: block;
	z-index: 17;
	margin: auto;
	position: relative;
	-webkit-user-select: none;
	user-select: none;
	transform: translate(0, -50%);
}

#graphwrap,
#statswrap {
	position: absolute;
	width: 100%;
	background-color: transparent;
	-webkit-user-select: none;
	user-select: none;
	top: 50%;
}

#statstext,
#graphtext {
	overflow: hidden;
	min-height: 70px;
}

#graphclose,
#statsclose {
	display: block;
	position: absolute;
	top: -24px;
	right: -25px;
	width: 30px;
	height: 30px;
	border: none;
	cursor: pointer;
	overflow: visible;
	z-index: 17;
}

#statsbackground {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	background-color: #000000;
	opacity: .5;
	z-index: 16;
}

#statsdrag,
#graphdrag {
	width: 100%;
	height: 16px;
	position: absolute;
	top: -16px;
	cursor: move;
}

#deed {
	position: fixed;
	border: 2px solid black;
	width: 235px;
	height: 400px;
	background-color: white;
	z-index: 18;
	-webkit-user-select: none;
	user-select: none;
}

#deed td{
	border: none;
}

#deed-header {
	width: 215px;
	height: 48px;
	border: 1px solid black;
	margin: 9px;
	background-color: yellow;
	text-align: center;
	text-transform: uppercase;
}

#deed-name {
	font-weight: bold;

}

#deed-table {
	margin: 9px;
	width: 217px;
	border-spacing: 10px;
}

#deed-mortgaged {
	text-align: center;

}

#deed-mortgaged-name {
	font-weight: bold;
	text-transform: uppercase;
	margin: 30px 20px 20px;
}

#deed-special {
	text-align: justify;
}

#deed-special-name {
	text-align: center;
	font-weight: bold;
	border-style: solid;
	border-width: 2px 0px;
	text-transform: uppercase;
	margin: 50px 20px 20px;
}

#deed-special-text {
	margin: 20px;
}

#deed-special-footer {
	margin: 0px 20px;
	width: 195px;
	position: absolute;
	bottom: 20px;
}

.house {
	width: 25px;
	height: 19px;
	vertical-align: middle;
	float: right;
}

#graph {
	width: 40%;
	position: relative;
	left: 30%;
}

.asset {
	width: 25px;
	height: 19px;
	float: none;
}

.statscellcolor {
	padding: 0px;
	width: 22px;
	height: 20px;
	border: none;
}

.statscellname {
	height: 20px;
	border: none;
	cursor: default;
	text-align: left;
	min-width: 172px;
}

.statsplayername {
	font-weight: bold;
	font-size: 24px;
}

.statscell {
	border: 2px solid black;
	padding: 8px;
	vertical-align: top;
	width: 202px;
	min-width: 115px;
}

.trade-cell {
	border: none;
	border-radius: 3px;
	width: 308px;
	height: 26px;
	vertical-align: middle;
}

.credit-cell {
	border: none;
	border-radius: 3px;
	width: 308px;
	height: 26px;
	vertical-align: middle;
}



@media screen and (max-height: 450px) {
	
	#stats {
		font-size: small;
		max-width: 700px;
	}
	
	.statsplayername {
		font-size: medium;
	}
	
	.statscellname {
		min-width: 120px;
	}
}

#icon-bar {
	width: 4em;
	background-color: #555;
}

#icon-bar a {
	display: block;
	text-align: center;
	padding: 0.5em;
	transition: all 0.3s ease;
	color: white;
	font-size: xx-large;
}

#icon-bar a:hover {
	background-color: #000;
}

.active {
	background-color: #04AA6D;
}

@media (prefers-color-scheme: dark) {

	#mgraph,
	#stats,
	#trade, 
	#credit {
		background-color: black;
		border-color: white;
	}

	#deed {
		color: black;
	}
}

@keyframes changeOpacity {
	from {opacity: 0;}
	to {opacity: 1;}
  }
